.conteiner {
    background-color: var(--azul_bebe--);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 2.5;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--branco--);
    
}